<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="http://litefavorites.com/wp-content/uploads/2017/07/Snopes-350x350.jpg" height="50" width="50">
</a>
  <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn-latest scrape-new" href="/">SCRAPE FROM SNOPES</a>
      </li>
    </ul>
  </div>
</nav>


<div class="card-columns">
  
  {{#each articles}}

<div class="card">
    <div class="card-body">
      <h5 class="card-title" href="{{this.url}}">{{this.headline}}</h5>
      <p class="card-text">{{this.summary}}</p>
      <a href="{{this.url}}" class="btn btn-warning">read more...</a>
    </div>
</div>

  {{/each}} {{#unless articles.length}}
  
  <div class='alert alert-warning text-center'>
    <h4>There aren't any new updates.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Let's get the latest news!</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
  {{/unless}}
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>
